<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800|Poppins:300i,400,300,700,400i,500|Ubuntu:300i,400,300,700,400i,500|Raleway:400,500,600,700" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="fontawesome-free-5.13.0-web/css/all.css">
  <title>Dự Án 1</title>
  <!-- link  -->
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>  
  <!-- link animatecss  -->
  <link rel="stylesheet" href="css/animate.css"/>
  <!-- dobadat css -->
  <link rel="stylesheet" href="./css/badat.css">
  <link rel="stylesheet" href="./css/blogdetail.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<!-- header -->
      <header>
        <div class="background-blue-color">
          <div class="container">
            <div class="row">
              <div class="col-sm d-none d-sm-block text-white line_h_28">Modern Creative Website ....</div>
              <div class="col-sm">
                <ul class="list-inline text-center margin-0px line_h_28 font-size mr-0">
                  <li class="list-inline-item"><a class="facebook text-white" href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item"><a class="youtube text-white" href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item"><a class="linkedin text-white" href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item"><a class="google text-white" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item"><a class="twitter text-white" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item"><a class="rss text-white" href="#"><i class="fas fa-rss" aria-hidden="true"></i></a></li>
                </ul>
              </div>
              <!-- login and  -->
              <div class="col-sm d-none d-sm-block line_h_28">
                <ul class="user-area list-inline float-right margin-0px text-white mr-0">
                  <li class="list-inline-item  padding-right-10px"><a class="text-white" href="page-login-2.html"><i class="fa fa-lock padding-right-5px"></i> login</a></li>
                  <li class="list-inline-item"><a class="text-white" href="page-login-1.html"><i class="fa fa-user-plus padding-right-5px"></i> register</a></li>
                </ul>
              </div>
            </div>              
          </div>
        </div>
        <div class="header-output">
          <div class="container header-in">
            <div class="row">
              <div class="col-lg-3">
                <a id="logo" href="01-home.html" class="d-inline-block margin-tb-10px"><img src="img/logo.png" alt=""></a>
                <a class="mobile-toggle" href="#"><i class="fa fa-navicon"></i></a>
              </div>
              <nav class="navbar navbar-expand-lg navbar-light col-lg-9 aligh-items-right">
                <div class="collapse navbar-collapse  link-padding-tb-20px dropdown-dark d-flex justify-content-end " id="navbarNav">
                  <ul class="navbar-nav  W-100" id="menu-main">
                    <li class="nav-item active">
                      <a class="" href="#">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="" href="#">SÂN BAY</a>
                    </li>
                    <li class="nav-item">
                      <a class="" href="#">THÔNG TIN</a>
                    </li>
                    <li class="nav-item">
                      <a class="" href="#">DÀNH CHO BẠN</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        FILGHT
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Flights List View</a>
                        <a class="dropdown-item" href="#">Flights Grid View</a>
                        <a class="dropdown-item" href="#">Flights Grid View 2</a>
                        <a class="dropdown-item" href="#">Flights Details</a>
                        <a class="dropdown-item" href="#">Flights Booking</a>
                        <a class="dropdown-item" href="#">Flights Thanks page</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="pd-0" href="#">TRAVELZ</a>
                    </li>
                  </ul>                             
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header> 
      <!-- //header -->
      <main>
        <section class="background-grey-1 padding-tb-25px text-grey-4">
          <div class="container">
              <h6 class="font-weight-300 text-capitalize float-md-left font-2 padding-tb-10px">Chi tiết Blog</h6>
              <ol class="breadcrumb z-index-2 position-relative no-background padding-tb-10px padding-lr-0px  margin-0px float-md-right">
                  <li><a href="#" class="text-grey-4">Trang chủ</a></li>
                  <li><a href="#" class="text-grey-4">Trang</a></li>
                  <li class="active">Chi tiết Blog </li>
              </ol>
              <div class="clearfix"></div>
          </div>
        </section>
        <!-- // -->
        <div class="container dbg-lightgrey padding-tb-40px">
            <div class="row">
                <div class="col-lg-8 col-md-8 sticky-content" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                    <div class="theiaStickySidebar">
                            <div class="blog-entry dbackground-white border-1 border-grey-1 margin-bottom-35px">
                                <div class="img-in">
                                    <img src="./demo-img/quy-nhon.jpg" alt="">
                                </div>
                                <!-- noidung ne -->
                                <div class="padding-30px">
                                    <!-- phan thong tin duoi img -->
                                    <div class="meta">
                                        <span class="margin-right-20px dtext-extra-small">
                                            By: 
                                            <a href="#" class="dtext-main-color">ABC</a>
                                        </span>
                                        <span class="margin-right-20px dtext-extra-small">
                                            Date:
                                            <a href="#" class="dtext-main-color">ngày/tháng/năm</a>
                                        </span>
                                        <span class="dtext-extra-small">
                                            Categorie:
                                            <a href="#" class="dtext-main-color ">ABC</a>
                                        </span>
                                    </div>
                                    <!-- tieu de cua noi dung -->
                                    <h1 class="d-block  text-capitalize text-large text-dark font-weight-700 margin-bottom-10px">
                                        Casa Marina Resort Quy Nhơn đẹp quyến rũ bên bãi biển xanh lãng mạn 
                                    </h1>
                                    <!-- noidung -->
                                    <div class="post-entry">
                                        <div class="d-block text-up-small text-grey-4 margin-bottom-15px">
                                            Chỉ cách trung tâm thành phố Quy Nhơn không quá 10 km, Casa Marina Resort Quy Nhơn đã tìm thấy cho mình một nơi tọa lạc vừa đẹp, 
                                            vừa riêng tư lại bình yên cho riêng mình bên bờ biển dài lãng mạn. Thời gian nghỉ dưỡng tại Casa Marina Resort Quy Nhơn sẽ là kỳ nghỉ tràn ngập gió biển,
                                            sóng vỗ rì rào và ánh nắng thướt tha cùng với những tiện ích nghỉ dưỡng hoàn hảo nhất.
                                        </div>
                                        <h5 class="color:#333">Casa Marina Resort Quy Nhơn – Thiên đường nghỉ dưỡng với không gian lưu trú như mơ</h5>
                                        <p>Resort có hệ thống 56 phòng nghỉ và biệt thự được xây dựng trên khuôn viên rộng hơn 1.5 hecta đất và đồi núi. Casa Marina Resort có 32 phòng Deluxe,
                                            8 phòng Luxury, 8 Villa trên đồi lộng gió hoặc 8 Villa đi trực tiếp ra biển. Phòng nghỉ được trang bị đẩy đủ các tiện ích cơ bản như điều hòa, tivi 43 inches, wifi, điện thoại, 
                                            mini bar với các thức uống được chuẩn bị sẵn, giường tủ kệ chất lượng cao và ban công để bạn hóng gió, đón bình minh cực hợp lý.
                                        </p>
                                        
                                        <p>
                                            <img src="./demo-img/service-3.jpg" class="alignleft" alt="">
                                            Casa Marina Resort Quy Nhơn sở hữu hệ thống phòng Bungalow Ocean Front được rất nhiều khách du lịch yêu thích. 
                                            Với không gian giản dị, mộc mạc mà vẫn không kém phần sang trọng, phòng nghỉ này sẽ đưa bạn 100% trở về với biển cả.
                                             Rằng mỗi sáng bình mình, biển sẽ mời gọi bạn tận phòng bằng những ánh nắng nhẹ đầu ngày và những tiếng sóng vui tai biết mấy.
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- tac gia  -->
                            <div class="background-white border-1 border-grey-1 margin-bottom-35px padding-30px">
                                <img src="./demo-img/hieu.jpg" class="float-left img100 margin-right-20px margin-bottom-20px" alt="">
                                <h5 class="text-medium text-dark text-uppercase  margin-top-8px">Hieu dep trai</h5>
                                <!-- mang xa hoi -->
                                <ul class="social_link list-inline">
                                    <li class="list-inline-item">
                                        <a class="facebook" href="#">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="facebook" href="#">
                                            <i class="fa fa-instagram" style="color: brown;" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="facebook" href="#">
                                            <i class="fa fa-youtube" style="color: red;" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="facebook" href="#">
                                            <i class="fa fa-github" style="color: black;" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>

                                <div class="clearfix"></div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet, eligendi et nobis neque minus mollitia
                                 sit repudiandae ad repellendus recusandae blanditiis praesentium vitae ab sint earum voluptate velit beatae alias
                                  fugit accusantium laboriosam nisi reiciendis deleniti tenetur molestiae maxime id quaerat consequatur fugiat aliquam 
                                  laborum nam aliquid. Consectetur, perferendis?
                            </div>
                            <!-- box3 -->
                            <div class="background-white border-1 border-grey-1 margin-bottom-35px padding-30px">
                                <h4 class="table-title margin-bottom-30px">
                                    <span>Bài viết liên quan</span>
                                </h4>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="background-white">
                                            <div class="post-img">
                                                <a href="#">
                                                    <img src="./demo-img/blog-2.jpg" alt="">
                                                </a>
                                            </div>

                                            <div class="margin-top-30px">
                                                <a href="" class="d-block text-dark text-uppercase text-medium margin-bottom-10px font-weight-700"></a>
                                                <span class="margin-right-20px text-extra-small">
                                                    By:
                                                    <a href="#" class="text-main-color">ABC</a>
                                                </span>
                                                <span class="text-extra-small">
                                                    Date:
                                                    <a href="#" class="text-main-color">ngày/tháng/năm</a>
                                                </span>
                                                <p class="text-grey-2 margin-top-8px">
                                                    up a land of wild nature, mystical and unexplored. With only 350,000 visitors per year, 
                                                    Madagascar is one of the most well-known but least visited
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="background-white">
                                            <div class="post-img">
                                                <a href="#">
                                                    <img src="./demo-img/blog-2.jpg" alt="">
                                                </a>
                                            </div>

                                            <div class="margin-top-30px">
                                                <a href="" class="d-block text-dark text-uppercase text-medium margin-bottom-10px font-weight-700"></a>
                                                <span class="margin-right-20px text-extra-small">
                                                    By:
                                                    <a href="#" class="text-main-color">ABC</a>
                                                </span>
                                                <span class="text-extra-small">
                                                    Date:
                                                    <a href="#" class="text-main-color">ngày/tháng/năm</a>
                                                </span>
                                                <p class="text-grey-2 margin-top-8px">
                                                    up a land of wild nature, mystical and unexplored. With only 350,000 visitors per year, 
                                                    Madagascar is one of the most well-known but least visited
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- box4 -->
                            <div class="background-white border-1 border-grey-1 margin-bottom-35px padding-30px">
                                <h4 class="table-title margin-bottom-30px">
                                    <span>Bình luận</span>
                                </h4>
                                <!-- nguoibl -->
                                <ul class="commentlist padding-0px margin-0px list-unstyled text-grey-3">
                                    <li class="border-bottom-1 border-grey-1 margin-bottom-20px">
                                        <img src="./demo-img/hieu.jpg" class="float-left img100 margin-right-20px margin-bottom-20px"  alt="">
                                        <div class="margin-left-85px">
                                            <!-- ten nguoi bl -->
                                            <a href="#" class="d-block text-dark text-uppercase text-medium font-weight-700">Hieu dep trai</a>
                                            <span class="text-extra-small">
                                                Date:
                                                <a href="#" class="text-main-color">Ngày/tháng/năm</a>
                                            </span>
                                            <p class="margin-top-15px">
                                                hay quá chời ... 
                                            </p>
                                        </div>
                                    </li>
                                    <!-- ngbl tra loi -->

                                        <div class="border-bottom-1 border-grey-1 margin-bottom-20px margin-left-55px">
                                             <img src="./demo-img/hieu.jpg" class="float-left img100 margin-right-20px margin-bottom-20px" alt="">
                                             <div class="margin-left-85px">
                                                <!-- ten -->
                                                <a href="#" class="d-block text-dark text-uppercase text-medium font-weight-700">Hieu Xau trai</a>
                                                <span class="text-extra-small">Date:
                                                    <a href="#" class="text-main-color">ngày/tháng/năm</a>
                                                </span>
                                                <!-- binh luan -->
                                                <p class="margin-top-15px">
                                                    Đúng rồi...
                                                </p>
                                             </div>
                                        </div>

                                        <!-- ng bl 2 -->
                                        <div class="border-bottom-1 border-grey-1 margin-bottom-20px margin-left-55px">
                                            <img src="./demo-img/hieu.jpg" class="float-left img100 margin-right-20px margin-bottom-20px" alt="">
                                            <div class="margin-left-85px">
                                               <!-- ten -->
                                               <a href="#" class="d-block text-dark text-uppercase text-medium font-weight-700">Hieu Xau trai</a>
                                               <span class="text-extra-small">Date:
                                                   <a href="#" class="text-main-color">ngày/tháng/năm</a>
                                               </span>
                                               <!-- binh luan -->
                                               <p class="margin-top-15px">
                                                   tao đồng ý với thằng trên
                                               </p>
                                            </div>
                                       </div>

                                </ul>
                            </div>
                            <div class="background-white border-1 border-grey-1 margin-bottom-35px padding-30px">
                                <h4 class="table-title margin-bottom-30px">
                                    <span>Thêm bình luận</span>
                                </h4>
                                    <!-- form -->
                                    <form action="">
                                            <div class="form-row fz15px font-weight-700 ">
                                                <div class="form-group col-md-6">
                                                    <label for="inputName">Tên:</label>
                                                    <input type="text" class="form-control" id="inputName" placeholder="Nhập tên "> 
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputName">Email:</label>
                                                    <input type="text" class="form-control" id="inputName" placeholder="Nhập email hoặc số điện thoại"> 
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="Web">Website:</label>
                                                    <input type="text"class="form-control" id="Web" placeholder="Website">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="binhluan">Bình luận:</label>
                                                    <textarea class="form-control" name="binhluan" id="binhluan" spellcheck="false" placeholder="Bình luận" rows="3"></textarea>
                                                </div>
                                                
                                                <a href="#" class="btn btn-primary btn-lg btn-block margin-top-15px">Gửi </a>
                                            </div>
                                    </form>




                                    </div>
                                </h4>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 sticky-content"style=" position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                    
                </div>
            </div>
        </div>

      
      </main>
<!-- footer -->
      <footer class="te-al-left">
        <div class="container">
          <div class="row pd-tb-100px">
            <div class="col-lg-6">
              <div class="">
                <div class="logo mr-bot-20px"><a href="#"><img src="img/logo.png" alt=""></a></div>
                <p class="cl-te-grey2 fz-09">
                  <strong class="fz-12vw font-weight-bold">Đối tác hàng không</strong><br>
                  Đối tác hàng không nội địa. Những đối tác hàng không hàng đầu Việt Nam sẽ chắp cánh đưa bạn đến mọi địa điểm trên mãnh đất Việt.
                </p>
                <div class="">
                  <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/vietject.png" alt=""></a></div>
                  <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/vietnameairline.png" alt=""></a></div>
                  <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/pacific.png" alt=""></a></div>
                  <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/bambo.png" alt=""></a></div>            
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Home</a></div>
              <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Featured</a></div>
              <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Feedback</a></div>
              <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Ask a Question</a></div>
              <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Team</a></div>
              <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Maintenance</a></div>
              <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Get a Quote</a></div>
              <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Contact Us</a></div>
              <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Alerts messages</a></div>
            </div>
            <div class="col-lg-3">
              <div class="col-4 padding-tb-7px dl-inline-block float-left">
                <img src="img/instagram-1.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
              </div>
              <div class="col-4 padding-tb-7px dl-inline-block float-left">
                <img src="img/instagram-2.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
              </div>
              <div class="col-4 padding-tb-7px dl-inline-block float-left">
                <img src="img/instagram-3.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
              </div>
              <div class="col-4 padding-tb-7px dl-inline-block float-left">
                <img src="img/instagram-4.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
              </div>
              <div class="col-4 padding-tb-7px dl-inline-block float-left">
                <img src="img/instagram-5.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
              </div>
              <div class="col-4 padding-tb-7px dl-inline-block float-left">
                <img src="img/instagram-6.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
              </div>
            </div>
          </div>
          <div class="row border-top-grey-1 pd-tb-30px">
            <div class="col-4">
              <p class="text-lg-left"><span class="text-third-color">Travelz</span> | @2020 All copy rights reserved</p>
            </div>
            <div class="col-4">
              <div class="text-center"><img src="img/cardspay.png" alt=""></div>
            </div>
            <div class="col-4">
              <ul class="icon-fooder list-inline te-al-right margin-0px line_h_28 font-size mr-0">
                <li class="list-inline-item"><a class="facebook text-white" href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a class="youtube text-white" href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a class="linkedin text-white" href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a class="google text-white" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a class="twitter text-white" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a class="rss text-white" href="#"><i class="fas fa-rss" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
<!-- //footer -->
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
</body>
</html>
<link rel="stylesheet" href="css/home.css">
<script src="js/home.js" type="text/javascript"></script>