<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800|Poppins:300i,400,300,700,400i,500|Ubuntu:300i,400,300,700,400i,500|Raleway:400,500,600,700" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="fontawesome-free-5.13.0-web/css/all.css">
  <title>Dự Án 1</title>
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
  <!-- <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>  -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="css/animate.css"/>
</head>
<body>
  <div class="l-bt-fixed-to-top" id="bt-to-top">
    <div class="bt-icon"><i class="fas fa-helicopter"></i> TOP</div>
  </div>
  <header>
    <div class="background-blue-color pd-tb-2px">
      <div class="container">
        <div class="row">
          <div class="col-sm d-none d-sm-block text-white line_h_28">Đẳng cấp là đây</div>
          <div class="col-sm">
            <ul class="list-inline text-center margin-0px line_h_28 font-size mr-0">
              <li class="list-inline-item"><a class="facebook text-white" href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="youtube text-white" href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="linkedin text-white" href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="google text-white" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="twitter text-white" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="rss text-white" href="#"><i class="fas fa-rss" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-sm d-none d-sm-block line_h_28">
            <ul class="float-right margin-0px text-white mr-0">
              <li class="list-inline-item  padding-right-10px"><a class="text-white" href="page-login-2.html"><i class="fa fa-lock padding-right-5px"></i> Đăng Ký</a></li>
              <li class="list-inline-item"><a class="text-white" href="page-login-1.html"><i class="fa fa-user-plus padding-right-5px"></i> Đăng Nhập</a></li>
            </ul>
          </div>
        </div>              
      </div>
    </div>
    <div class="header-output">
      <div class="container header-in">
        <div class="row">
          <div class="col-lg-3">
            <a id="logo" href="01-home.html" class="d-inline-block margin-tb-10px"><img src="img/logo.png" alt=""></a>
            <a class="mobile-toggle" href="#"><i class="fa fa-navicon"></i></a>
          </div>
          <nav class="navbar navbar-expand-lg navbar-light col-lg-9 aligh-items-right">
            <div class="collapse navbar-collapse  link-padding-tb-20px dropdown-dark d-flex justify-content-end " id="navbarNav">
              <ul class="navbar-nav  W-100" id="menu-main">
                <li class="nav-item active">
                  <a class="" href="#">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="" href="#">SÂN BAY</a>
                </li>
                <li class="nav-item">
                  <a class="" href="#">THÔNG TIN</a>
                </li>
                <li class="nav-item">
                  <a class="" href="#">DÀNH CHO BẠN</a>
                </li>
                <li class="nav-item dropdown">
                  <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    CHUYẾN BAY
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Flights List View</a>
                    <a class="dropdown-item" href="#">Flights Grid View</a>
                    <a class="dropdown-item" href="#">Flights Grid View 2</a>
                    <a class="dropdown-item" href="#">Flights Details</a>
                    <a class="dropdown-item" href="#">Flights Booking</a>
                    <a class="dropdown-item" href="#">Flights Thanks page</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="pd-0" href="#">TRAVELZ</a>
                </li>
              </ul>                             
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="header-output-fixed" id="l-menu-fixed">
        <div class="container header-in">
          <div class="row">
            <div class="col-lg-3">
              <a id="logo" href="01-home.html" class="d-inline-block margin-tb-10px"><img src="img/logo.png" alt=""></a>
              <a class="mobile-toggle" href="#"><i class="fa fa-navicon"></i></a>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light col-lg-9 aligh-items-right">
              <div class="collapse navbar-collapse  link-padding-tb-20px dropdown-dark d-flex justify-content-end " id="navbarNav">
                <ul class="navbar-nav  W-100" id="menu-main">
                  <li class="nav-item active">
                    <a class="" href="#">HOME <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="" href="#">SÂN BAY</a>
                  </li>
                  <li class="nav-item">
                    <a class="" href="#">THÔNG TIN</a>
                  </li>
                  <li class="nav-item">
                    <a class="" href="#">DÀNH CHO BẠN</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      CHUYẾN BAY
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Flights List View</a>
                      <a class="dropdown-item" href="#">Flights Grid View</a>
                      <a class="dropdown-item" href="#">Flights Grid View 2</a>
                      <a class="dropdown-item" href="#">Flights Details</a>
                      <a class="dropdown-item" href="#">Flights Booking</a>
                      <a class="dropdown-item" href="#">Flights Thanks page</a>
                    </div>
                  </li>
                  <!-- <li class="nav-item dropdown dropdown-6">
                    <a href="">CHUYẾN BAY</a>
                    
                    <ul class="dropdown_menu dropdown_menu--animated dropdown_menu-6">
                      <li class="dropdown_item-1">Item 1</li>
                      <li class="dropdown_item-2">Item 2</li>
                      <li class="dropdown_item-3">Item 3</li>
                      <li class="dropdown_item-4">Item 4</li>
                      <li class="dropdown_item-5">Item 5</li>
                    </ul>
                  </li> -->
                  <li class="nav-item">
                    <a class="pd-0" href="#">TRAVELZ</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class=" dropdown-toggle fz-12vw" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="far fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Đăng ký</a>
                      <a class="dropdown-item" href="#">Đăng nhập</a>
                    </div>
                  </li>
                  
                  <!-- <li class="nav-item">
                    <a class="pd-0" href="#"><i class="fa fa-lock padding-right-5px"></i> Đăng Ký</a>
                  </li>
                  <li class="nav-item">
                    <a class="pd-0" href="#"><i class="fa fa-user-plus padding-right-5px"></i> Đăng Nhập</a>
                  </li> -->
                </ul>                             
              </div>
            </nav>         
          </div>       
          
        </div>
      </div>
    </header>
    <main>
        <div class="container text-center">
            <div class="l-thuonggia text-center">
                <div class="title">Hàng ghế thương gia</div>
                <div class="l-ghe-thuonggia d-inline-block l-bg-gray">1</div>
                <div class="l-ghe-thuonggia l-div-hover d-inline-block l-mr-right ">2</div>
                <div class="l-ghe-thuonggia l-div-hover d-inline-block">3</div>
                <div class="l-ghe-thuonggia l-div-hover d-inline-block">4</div>
                <div class="l-ghe-thuonggia l-div-hover d-inline-block">5</div>
                <div class="l-ghe-thuonggia d-inline-block l-bg-gray l-mr-right ">6</div>
                <div class="l-ghe-thuonggia l-div-hover d-inline-block">7</div>
                <div class="l-ghe-thuonggia l-div-hover d-inline-block">8</div>
                
            </div>
            <div class="l-phothong text-center">
                <div class="title">Hàng ghế phổ thông</div>
                <div class="l-ghe-phothong l-bg-gray">1</div>
                <div class="l-ghe-phothong l-mr-right l-bg-gray">2</div>
                <div class="l-ghe-phothong l-div-hover">3</div>
                <div class="l-ghe-phothong l-div-hover">4</div>
                <div class="l-ghe-phothong l-div-hover">5</div>
                <div class="l-ghe-phothong l-div-hover l-mr-right">6</div>
                <div class="l-ghe-phothong l-div-hover">7</div>
                <div class="l-ghe-phothong l-div-hover">8</div>
                <div class="l-ghe-phothong l-div-hover ">9</div>
                <div class="l-ghe-phothong l-div-hover l-mr-right">10</div>
                <div class="l-ghe-phothong l-div-hover">11</div>
                <div class="l-ghe-phothong l-div-hover">12</div>
            </div>
        </div>
    </main>
      <div class="ins-img">
        <div class="box-ins-img">
          <img src="img/instagram-1.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="box-ins-img">
          <img src="img/instagram-2.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="box-ins-img">
          <img src="img/instagram-3.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="box-ins-img">
          <img src="img/instagram-4.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="box-ins-img">
          <img src="img/instagram-5.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="box-ins-img">
          <img src="img/instagram-6.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="box-ins-img">
          <img src="img/instagram-7.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="box-ins-img">
          <img src="img/instagram-8.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="box-ins-img">
          <img src="img/instagram-9.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="box-ins-img">
          <img src="img/instagram-10.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div>
    </div>
  </div>
  <footer class="te-al-left">
    <div class="container">
      <div class="row pd-tb-100px">
        <div class="col-lg-6">
          <div class="">
            <div class="logo mr-bot-20px"><a href="#"><img src="img/logo.png" alt=""></a></div>
            <p class="cl-te-grey2 fz-09">
              <strong class="fz-12vw font-weight-bold">Đối tác hàng không</strong><br>
              Đối tác hàng không nội địa. Những đối tác hàng không hàng đầu Việt Nam sẽ chắp cánh đưa bạn đến mọi địa điểm trên mãnh đất Việt.
            </p>
            <div class="">
              <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/vietject.png" alt=""></a></div>
              <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/vietnameairline.png" alt=""></a></div>
              <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/pacific.png" alt=""></a></div>
              <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/bambo.png" alt=""></a></div>            
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Trang chủ</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Góp ý</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Hợp tác</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Báo cáo</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Ưu đãi</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Liên hệ</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Tuyển dụng</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Về chúng tôi</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Theo dõi</a></div>
        </div>
        <div class="col-lg-3">
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-1.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-2.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-3.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-4.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-5.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-6.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
        </div>
      </div>
      <div class="row border-top-grey-1 pd-tb-30px">
        <div class="col-4">
          <p class="text-lg-left"><span class="text-third-color">Travelz</span> | @2017 All copy rights reserved</p>
        </div>
        <div class="col-4">
          <div class="text-center"><img src="img/cardspay.png" alt=""></div>
        </div>
        <div class="col-4">
          <ul class="icon-fooder list-inline te-al-right margin-0px line_h_28 font-size mr-0">
            <li class="list-inline-item"><a class="facebook text-white" href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="youtube text-white" href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="linkedin text-white" href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="google text-white" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="twitter text-white" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="rss text-white" href="#"><i class="fas fa-rss" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
</body>
</html>
<link rel="stylesheet" href="css/home.css">
<script src="js/home.js" type="text/javascript"></script>