<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800|Poppins:300i,400,300,700,400i,500|Ubuntu:300i,400,300,700,400i,500|Raleway:400,500,600,700" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="fontawesome-free-5.13.0-web/css/all.css">
  <title>Dự Án 1</title>
</head>
<body>
  <header>
    <div class="background-blue-color padding-tb-5px">
      <div class="container">
        <div class="row">
          <div class="col-sm d-none d-sm-block text-white line_h_28">Modern Creative Website ....</div>
          <div class="col-sm">
            <ul class="list-inline text-center margin-0px line_h_28 font-size">
              <li class="list-inline-item"><a class="facebook text-white" href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="youtube text-white" href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="linkedin text-white" href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="google text-white" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="twitter text-white" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="rss text-white" href="#"><i class="fas fa-rss" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-sm d-none d-sm-block line_h_28">
            <ul class="user-area list-inline float-right margin-0px text-white">
                <li class="list-inline-item  padding-right-10px"><a class="text-white" href="page-login-2.html"><i class="fa fa-lock padding-right-5px"></i> login</a></li>
                <li class="list-inline-item"><a class="text-white" href="page-login-1.html"><i class="fa fa-user-plus padding-right-5px"></i> register</a></li>
            </ul>
          </div>
        </div>              
      </div>
    </div>
    <div class="header-output">
      <div class="container header-in">
        <div class="row">
          <div class="col-lg-3">
              <a id="logo" href="01-home.html" class="d-inline-block margin-tb-10px"><img src="img/logo.png" alt=""></a>
              <a class="mobile-toggle" href="#"><i class="fa fa-navicon"></i></a>
          </div>
          <nav class="navbar navbar-expand-lg navbar-light col-lg-9 aligh-items-right">
            <div class="collapse navbar-collapse  link-padding-tb-20px dropdown-dark d-flex justify-content-end " id="navbarNav">
              <ul class="navbar-nav  W-100" id="menu-main">
                <li class="nav-item active">
                  <a class="" href="#">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="" href="#">FEATURES</a>
                </li>
                <li class="nav-item">
                  <a class="" href="#">BLOG</a>
                </li>
                <li class="nav-item">
                  <a class="" href="#">PAGES</a>
                </li>
                <li class="nav-item dropdown">
                  <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    FLIGHT
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Flights List View</a>
                    <a class="dropdown-item" href="#">Flights Grid View</a>
                    <a class="dropdown-item" href="#">Flights Grid View 2</a>
                    <a class="dropdown-item" href="#">Flights Details</a>
                    <a class="dropdown-item" href="#">Flights Booking</a>
                    <a class="dropdown-item" href="#">Flights Thanks page</a>
                </li>
                <li class="nav-item">
                  <a class="pd-0" href="#">ELEMENTS</a>
                </li>
              </ul>                             
            </div>
          </nav>
          </div>
      </div>
  </div>
  </header> 
  <div class="box_header">
    <div class="baner-gb"></div>
    <div class="background-light-grey mr-top58">
      <div class="container">
        <div id="search-filter-2" class="pull-top-80px z-index-100 position-relative">
          <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item filght">
                  <a class="nav-link a_filght text-white" data-toggle="tab" href="#home" role="tab"><i class="fas fa-plane-departure"></i> Flights</a>
              </li>
          </ul>
          <div class="tab-content background-white padding-30px box-shadow">
            <div class="tab-pane active" id="home" role="tabpanel">
              <div class="row">
                <div class="form-group col-lg-2">
                  <label>Destination</label>
                  <div class="destination"><input type="text" class="input-text full-width" placeholder="Enter Destination"></div>
                </div>
                <div class="form-group col-lg-2">
                  <label>Check In</label>
                  <div class="date-input"><input type="text" class="input-text datepicker full-width hasDatepicker" placeholder="15 / 5 / 2017" id="dp1604379882087"></div>
                </div>
                <div class="col-lg-2">
                  <label>Ticket</label>
                  <div class="ticket"><input type="text" class="input-text full-width" placeholder="1"></div>
                </div>
                <div class="col-lg-2">
                  <label>Children</label>
                  <div class="children"><input type="text" class="input-text full-width" placeholder="0"></div>
                </div>
                <div class="col-lg-2">
                  <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center text-uppercase font-weight-600 margin-top-30px padding-7px"> Hotel  Search</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="box_main">
        <div class="container">
          <div class="section-title section-title-center">
            <h1 class="title"><span class="color_main">Hot</span> Flight</h1>
            <span class="section-title-des">Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elitdunt</span>
          </div>
        <div class="row mr-top-10">
          <div class="col-sm-6 col-lg-3 sm-mb-30px te-al-left">
              <div class="hotel-grid background-white border border-grey-1">
                  <div class="hotel-img">
                      <img src="img/sing.jpg" alt="" width="100%"> 
                  </div>
                  <div class="rating">
                    <ul class="mr-top_-9pt">
                      <li class="active"></li>
                      <li class="active"></li>
                      <li class="active"></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </div>
                  <div class="padding-20px">
                      <h3 class="text-uppercase"><a href="#" class="text-dark fz-14vw">Adel New Hotel</a></h3>
                      <small class="text-uppercase">
                        <a href="#" class="cl-grey "><i class="fa fa-map-marker margin-right-5px"></i>
                        <span class="text-third-color margin-right-5px">United Kingdom</span> London</a>
                      </small>
                      <i class="d-block padding-tb-8px text-grey-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. the industry's standard dummy text ever since the 1500s</i>
                      <div class="margin-bottom-8px text-uppercase font-small mr-tb-2">
                        <strong class="font-medium text-third-color padding-right-5px font-weight-bold">$500</strong>Person
                      </div>
                      <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center font-weight-bold text-uppercase rounded-0">Booking Now </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-3 sm-mb-30px">
              <div class="hotel-grid background-white border border-grey-1 te-al-left">
                  <div class="hotel-img">
                      <img src="img/lasvegas.jpg" alt="" width="100%">
                  </div>
                  <div class="rating">
                    <ul class="mr-top_-9pt">
                      <li class="active"></li>
                      <li class="active"></li>
                      <li class="active"></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </div>
                  <div class="padding-20px">
                    <h3 class="text-uppercase"><a href="#" class="text-dark fz-14vw">Anwar City Hotel</a></h3>
                    <small class="text-uppercase">
                      <a href="#" class="cl-grey "><i class="fa fa-map-marker margin-right-5px"></i>
                      <span class="text-third-color margin-right-5px">United Kingdom</span> London</a>
                    </small>
                    <i class="d-block padding-tb-8px text-grey-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. the industry's standard dummy text ever since the 1500s</i>
                    <div class="margin-bottom-8px text-uppercase font-small mr-tb-2">
                      <strong class="font-medium text-third-color padding-right-5px font-weight-bold">$500</strong>Person
                    </div>
                      <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center font-weight-bold text-uppercase">Booking Now </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-3 sm-mb-30px">
            <div class="hotel-grid background-white border border-grey-1 te-al-left">
              <div class="hotel-img">
                <img src="img/hanquoc.png" alt="" width="100%">
              </div>
              <div class="rating">
                <ul class="mr-top_-9pt">
                  <li class="active"></li>
                  <li class="active"></li>
                  <li class="active"></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div class="padding-20px">
                <h3 class="text-uppercase"><a href="#" class="text-dark fz-14vw">Gadi Elsir Hotel</a></h3>
                <small class="text-uppercase">
                  <a href="#" class="cl-grey "><i class="fa fa-map-marker margin-right-5px"></i>
                  <span class="text-third-color margin-right-5px">United Kingdom</span> London</a>
                </small>
                  <i class="d-block padding-tb-8px text-grey-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. the industry's standard dummy text ever since the 1500s</i>
                  <div class="margin-bottom-8px text-uppercase font-small mr-tb-2">
                    <strong class="font-medium text-third-color padding-right-5px font-weight-bold">$500</strong>Person
                  </div>
                  <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center font-weight-bold text-uppercase">Booking Now </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 sm-mb-30px">
              <div class="hotel-grid background-white border border-grey-1 te-al-left">
                  <div class="hotel-img">
                      <img src="img/nhat-ban.jpg" alt="" width="100%">
                  </div>
                  <div class="rating">
                      <ul class="mr-top_-9pt">
                          <li class="active"></li>
                          <li class="active"></li>
                          <li class="active"></li>
                          <li></li>
                          <li></li>
                      </ul>
                  </div>
                  <div class="padding-20px">
                      <h3 class="text-uppercase"><a href="#" class="text-dark fz-14vw">FILGHT TO JAPAN</a></h3>
                      <small class="text-uppercase te-al-left">
                          <a href="#" class="cl-grey "><i class="fa fa-map-marker margin-right-5px"></i>
                          <span class="text-third-color margin-right-5px">United Kingdom</span> London</a>
                      </small>
                      <i class="d-block padding-tb-8px text-grey-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. the industry's standard dummy text ever since the 1500s</i>
                      <div class="margin-bottom-8px text-uppercase font-small mr-tb-2">
                          <strong class="font-medium text-third-color padding-right-5px font-weight-bold">$500</strong>Person
                      </div>
                      <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center font-weight-bold text-uppercase">Booking Now </a>
                  </div>
              </div>
          </div>

        </div>
      </div>
      </div>
  </div>
</div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
<link rel="stylesheet" href="css/style.css">