<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800|Poppins:300i,400,300,700,400i,500|Ubuntu:300i,400,300,700,400i,500|Raleway:400,500,600,700" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="fontawesome-free-5.13.0-web/css/all.css">
  <title>Dự Án 1</title>
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>  
  <link rel="stylesheet" href="css/animate.css"/>
  <link rel="stylesheet" href="css/danhsachve.css">
</head>
<body>
  <header>
    <div class="background-blue-color pd-tb-2px">
      <div class="container">
        <div class="row">
          <div class="col-sm d-none d-sm-block text-white line_h_28">Đẳng cấp là đây</div>
          <div class="col-sm">
            <ul class="list-inline text-center margin-0px line_h_28 font-size mr-0">
              <li class="list-inline-item"><a class="facebook text-white" href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="youtube text-white" href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="linkedin text-white" href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="google text-white" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="twitter text-white" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="rss text-white" href="#"><i class="fas fa-rss" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-sm d-none d-sm-block line_h_28">
            <ul class="float-right margin-0px text-white mr-0">
              <li class="list-inline-item  padding-right-10px"><a class="text-white" href="page-login-2.html"><i class="fa fa-lock padding-right-5px"></i> Đăng Ký</a></li>
              <li class="list-inline-item"><a class="text-white" href="page-login-1.html"><i class="fa fa-user-plus padding-right-5px"></i> Đăng Nhập</a></li>
            </ul>
          </div>
        </div>              
      </div>
    </div>
    <div class="header-output">
      <div class="container header-in">
        <div class="row">
          <div class="col-lg-3">
            <a id="logo" href="01-home.html" class="d-inline-block margin-tb-10px"><img src="img/logo.png" alt=""></a>
            <a class="mobile-toggle" href="#"><i class="fa fa-navicon"></i></a>
          </div>
          <nav class="navbar navbar-expand-lg navbar-light col-lg-9 aligh-items-right">
            <div class="collapse navbar-collapse  link-padding-tb-20px dropdown-dark d-flex justify-content-end " id="navbarNav">
              <ul class="navbar-nav  W-100" id="menu-main">
                <li class="nav-item active">
                  <a class="" href="#">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="" href="#">SÂN BAY</a>
                </li>
                <li class="nav-item">
                  <a class="" href="#">THÔNG TIN</a>
                </li>
                <li class="nav-item">
                  <a class="" href="#">DÀNH CHO BẠN</a>
                </li>
                <li class="nav-item dropdown">
                  <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    CHUYẾN BAY
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Flights List View</a>
                    <a class="dropdown-item" href="#">Flights Grid View</a>
                    <a class="dropdown-item" href="#">Flights Grid View 2</a>
                    <a class="dropdown-item" href="#">Flights Details</a>
                    <a class="dropdown-item" href="#">Flights Booking</a>
                    <a class="dropdown-item" href="#">Flights Thanks page</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="pd-0" href="#">TRAVELZ</a>
                </li>
                <!-- Thêm đăng ký đăng nhập -->
                <li class="nav-item">
                  <a class="" href="#"><i class="fa fa-lock padding-right-5px"></i>ĐĂNG KÝ</a>
                </li>
                <li class="nav-item">
                  <a class="" href="#"><i class="fa fa-user-plus padding-right-5px"></i>ĐĂNG NHẬP</a>
                </li>
              </ul>                             
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header> 
  <div class="long-lien-he-header-out">
    <div class="bg-black long-div-center-head"></div>
    <div class="te-center">
      <div class="ct-us">CONTACT US</div>
      <div class="cl-te-grey2">Nếu bạn gặp khó khăn hay bạn cần hỗ trợ của Travelz thì bạn hãy gọi đến số điện thoại đường dây nóng của Travelz 19001221 để nhận được hỗ trợ trực tiếp từ nhân viên tổng đài hỗ trợ cả người bán hàng và người mua 24/7.        Thời gian làm việc của hotlime tổng đài Travelz là 24/7 kể cả thứ 7, Chủ Nhật. Riêng với các ngày lễ/tết thì sẽ có lịch thông báo riêng hoặc làm việc từ 8h00 – 17h00.</div>
    </div>
    <div class="link">
      <div class="no-background padding-30px margin-0px border-top-1">
        <div class="d-inline-block"><a href="#" class="text-white">Home </a></div>
        <div class="d-inline-block"><a href="#" class="text-white"><i class="fas fa-chevron-right pd-lr-10px"></i> Pages <i class="fas fa-chevron-right pd-lr-10px"></i></a></div>
        <div class="d-inline-block cl-gray3"> Contact Us</div>
      </div>
    </div>
  </div>
  <main class="">
    <section class="padding-tb-100px">
      <div class="container mr-bot-100px">
          <div class="row padding-30px mr-50px">
              <div class="col-lg-6 col-md-6">
                  <form>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="inputName">Họ và tên</label>
                              <input type="text" class="form-control" id="inputName4" placeholder="Họ và tên">
                          </div>
                          <div class="form-group col-md-6">
                              <label for="inputEmail4">Email</label>
                              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="inputAddress">Địa chỉ</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="123 Cộng Hòa, P.11, Q.Tân Bình, Hồ Chí Minh">
                      </div>
                      <div class="form-group">
                          <label for="exampleFormControlTextarea1">Message</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center font-weight-bold text-uppercase rounded-0 pd-15px">Gửi</a>
                  </form>
              </div>
              <div class="col-lg-6 col-md-6">
                  <p>Với cá nhân mình thì việc liên hệ qua tổng đài là nhanh chóng được giải quyết vấn đề nhất và thường các chăm sóc viên cũng giải quyết được phần đa câu hỏi cho vấn đề của bạn. Tuy nhiên, đôi khi tổng đài bị quá tải và bạn không thể liên lạc được ngay thì bạn hãy liên hệ lại vào một thời điểm khác nhé.</p>
                  <h6>Phone :</h6>
                  <span class="d-block"><i class="fa fa-phone text-main-color margin-right-10px" aria-hidden="true"></i> +1900 232 233</span>
                  <span class="d-block"><i class="fa fa-mobile text-main-color margin-right-10px" aria-hidden="true"></i> +1900 242 244</span>
                  <h6 class="margin-top-20px">Address :</h6>
                  <span class="d-block"><i class="fa fa-map text-main-color margin-right-10px" aria-hidden="true"></i> 391A Nam Kỳ Khởi Nghĩa, Phường 14, Quận 3, Thành phố Hồ Chí Minh 700000 </span>
                  <h6 class="margin-top-20px">Email :</h6>
                  <span class="d-block"><i class="fa fa-envelope-open text-main-color margin-right-10px" aria-hidden="true"></i> travelz@gmail.com </span>
              </div>
          </div>
      </div>
  </section>
  </main>
  <div class="ins-img">
    <div class="box-ins-img">
      <img src="img/instagram-1.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-2.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-3.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-4.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-5.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-6.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-7.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-8.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-9.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-10.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <footer class="te-al-left">
    <div class="container">
      <div class="row pd-tb-100px">
        <div class="col-lg-6">
          <div class="">
            <div class="logo mr-bot-20px"><a href="#"><img src="img/logo.png" alt=""></a></div>
            <p class="cl-te-grey2 fz-09">
              <strong class="fz-12vw font-weight-bold">Đối tác hàng không</strong><br>
              Đối tác hàng không nội địa. Những đối tác hàng không hàng đầu Việt Nam sẽ chắp cánh đưa bạn đến mọi địa điểm trên mãnh đất Việt.
            </p>
            <div class="">
              <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/vietject.png" alt=""></a></div>
              <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/vietnameairline.png" alt=""></a></div>
              <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/pacific.png" alt=""></a></div>
              <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/bambo.png" alt=""></a></div>            
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Home</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Featured</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Feedback</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Ask a Question</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Team</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Maintenance</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Get a Quote</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Contact Us</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Alerts messages</a></div>
        </div>
        <div class="col-lg-3">
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-1.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-2.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-3.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-4.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-5.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-6.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
        </div>
      </div>
      <div class="row border-top-grey-1 pd-tb-30px">
        <div class="col-4">
          <p class="text-lg-left"><span class="text-third-color">Travelz</span> | @2017 All copy rights reserved</p>
        </div>
        <div class="col-4">
          <div class="text-center"><img src="img/cardspay.png" alt=""></div>
        </div>
        <div class="col-4">
          <ul class="icon-fooder list-inline te-al-right margin-0px line_h_28 font-size mr-0">
            <li class="list-inline-item"><a class="facebook text-white" href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="youtube text-white" href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="linkedin text-white" href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="google text-white" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="twitter text-white" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="rss text-white" href="#"><i class="fas fa-rss" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
</body>
</html>
<link rel="stylesheet" href="css/home.css">
<script src="js/home.js" type="text/javascript"></script>