<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800|Poppins:300i,400,300,700,400i,500|Ubuntu:300i,400,300,700,400i,500|Raleway:400,500,600,700" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="fontawesome-free-5.13.0-web/css/all.css">
  <title>Dự Án 1</title>
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>  
  <link rel="stylesheet" href="css/animate.css"/>
  <link rel="stylesheet" href="css/danhsachve.css">
</head>
<body>
  <header>
    <div class="background-blue-color pd-tb-2px">
      <div class="container">
        <div class="row">
          <div class="col-sm d-none d-sm-block text-white line_h_28">Đẳng cấp là đây</div>
          <div class="col-sm">
            <ul class="list-inline text-center margin-0px line_h_28 font-size mr-0">
              <li class="list-inline-item"><a class="facebook text-white" href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="youtube text-white" href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="linkedin text-white" href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="google text-white" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="twitter text-white" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a class="rss text-white" href="#"><i class="fas fa-rss" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-sm d-none d-sm-block line_h_28">
            <ul class="float-right margin-0px text-white mr-0">
              <li class="list-inline-item  padding-right-10px"><a class="text-white" href="page-login-2.html"><i class="fa fa-lock padding-right-5px"></i> Đăng Ký</a></li>
              <li class="list-inline-item"><a class="text-white" href="page-login-1.html"><i class="fa fa-user-plus padding-right-5px"></i> Đăng Nhập</a></li>
            </ul>
          </div>
        </div>              
      </div>
    </div>
    <div class="header-output">
      <div class="container header-in">
        <div class="row">
          <div class="col-lg-3">
            <a id="logo" href="01-home.html" class="d-inline-block margin-tb-10px"><img src="img/logo.png" alt=""></a>
            <a class="mobile-toggle" href="#"><i class="fa fa-navicon"></i></a>
          </div>
          <nav class="navbar navbar-expand-lg navbar-light col-lg-9 aligh-items-right">
            <div class="collapse navbar-collapse link-padding-tb-20px dropdown-dark d-flex justify-content-end " id="navbarNav">
              <ul class="navbar-nav" id="menu-main">
                <li class="nav-item active">
                  <a class="" href="#">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="" href="#">SÂN BAY</a>
                </li>
                <li class="nav-item">
                  <a class="" href="#">THÔNG TIN</a>
                </li>
                <li class="nav-item">
                  <a class="" href="#">DÀNH CHO BẠN</a>
                </li>
                <li class="nav-item dropdown">
                  <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    FILGHT
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Flights List View</a>
                    <a class="dropdown-item" href="#">Flights Grid View</a>
                    <a class="dropdown-item" href="#">Flights Grid View 2</a>
                    <a class="dropdown-item" href="#">Flights Details</a>
                    <a class="dropdown-item" href="#">Flights Booking</a>
                    <a class="dropdown-item" href="#">Flights Thanks page</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="" href="#">TRAVELZ</a>
                </li>
                <!-- Thêm đăng ký đăng nhập -->
                <li class="nav-item">
                  <a class="" href="#"><i class="fa fa-lock padding-right-5px"></i>ĐĂNG KÝ</a>
                </li>
                <li class="nav-item">
                  <a class="" href="#"><i class="fa fa-user-plus padding-right-5px"></i>ĐĂNG NHẬP</a>
                </li>
              </ul>                             
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header> 
  <div class="long-ab-us-header-out">
    <div class="bg-black long-div-center-head"></div>
    <div class="te-center">
      <div class="ct-us">CONTACT US</div>
      <div class="cl-te-grey2">Nếu bạn gặp khó khăn hay bạn cần hỗ trợ của Travelz thì bạn hãy gọi đến số điện thoại đường dây nóng của Travelz 19001221 để nhận được hỗ trợ trực tiếp từ nhân viên tổng đài hỗ trợ cả người bán hàng và người mua 24/7.        Thời gian làm việc của hotlime tổng đài Travelz là 24/7 kể cả thứ 7, Chủ Nhật. Riêng với các ngày lễ/tết thì sẽ có lịch thông báo riêng hoặc làm việc từ 8h00 – 17h00.</div>
    </div>
    <div class="link">
      <div class="no-background padding-30px margin-0px border-top-1">
        <div class="d-inline-block"><a href="#" class="text-white">Home </a></div>
        <div class="d-inline-block"><a href="#" class="text-white"><i class="fas fa-chevron-right pd-lr-10px"></i> Pages <i class="fas fa-chevron-right pd-lr-10px"></i></a></div>
        <div class="d-inline-block cl-gray3"> Contact Us</div>
      </div>
    </div>
  </div>
  <main class="">
    <div class="pd-top-100px">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <h3 class="mr-bot-20px">Online Agency Travel Websites</h3>
                    <p class= cl-te-grey2 mr-bot-30px">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <a href="#" class="btn btn-danger mr-right-20px">Buy Now</a>
                    <a href="#" class="btn btn-warning">Contact Us</a>
                </div>
            </div>
            <img src="img/about-img-1.jpg" alt="">
        </div>
    </div>
    <div class="cl-grey background-overlay pd-tb-100px" style="background-image: url('img/page-title-1.jpg');">
        <div class="container z-index-2 position-relative">
            <a href="#" class="btn btn-danger float-right">Buy Now</a>
            <h5>Cơ hội ra nước ngoài với hàng ghế thượng lưu</h5>
        </div>
    </div>
    <div class="pd-tb-100px background-light-grey">
        <div class="container">
            <div class="services-out">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <h3><i class="fa fa-building-o icon-round"></i>
                            <span class="text-medium text-uppercase">Booking of hotels</span></h3>
                        <i class="d-block cl-te-grey2 mr-bot-20px">Nunc cursus libero purus ac congue arcu cur sus ut sed vitae pulvinar. Nunc cursus libero congue arcu.</i>
                        <a href="#" class="btn background-main-color text-white padding-lr-10px text-small text-uppercase">Read more</a>
                    </div>


                    <div class="col-lg-3 col-md-6">
                        <h3><i class="fa fa-automobile icon-round"></i>
                            <span class="text-medium text-uppercase">Car Rental</span></h3>
                        <i class="d-block cl-te-grey2 mr-bot-20px">Nunc cursus libero purus ac congue arcu cur sus ut sed vitae pulvinar. Nunc cursus libero congue arcu.</i>
                        <a href="#" class="btn background-main-color text-white padding-lr-10px text-small text-uppercase">Read more</a>
                    </div>


                    <div class="col-lg-3 col-md-6">
                        <h3><i class="fa fa-plane icon-round"></i>
                            <span class="text-medium text-uppercase">booking flight</span></h3>
                        <i class="d-block cl-te-grey2 mr-bot-20px">Nunc cursus libero purus ac congue arcu cur sus ut sed vitae pulvinar. Nunc cursus libero congue arcu.</i>
                        <a href="#" class="btn background-main-color text-white padding-lr-10px text-small text-uppercase">Read more</a>
                    </div>



                    <div class="col-lg-3 col-md-6">
                        <h3><i class="fa fa-umbrella icon-round"></i>
                            <span class="text-medium text-uppercase">Tourist services</span></h3>
                        <i class="d-block cl-te-grey2 mr-bot-20px">Nunc cursus libero purus ac congue arcu cur sus ut sed vitae pulvinar. Nunc cursus libero congue arcu.</i>
                        <a href="#" class="btn background-main-color text-white padding-lr-10px text-small text-uppercase">Read more</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="pd-tb-100px background-grey-1">
        <div class="container">
          <div class="section-title text-center mr-bot-30px">
              <h1 class="title fz-2vw"><span class="color_main">Traveler </span> say</h1>
              <span class="section-title-des">Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elitdunt</span>
          </div>
          <div class="l-box-travelzsay">
            <div class="float-left mr-right-20px"><img src="img/avt-1.jpg" alt=""></div>
              <h5 class="text-medium cl-te-black text-uppercase">Rabie Elkheir</h5>
              <i class="text-extra-small">Chức vụ: <span class="color_main">Quản lý</span></i>
              <!-- <div class="clearfix"></div> -->
              <i class="d-block mr-tb-20px text-medium text-grey-4 line-hight-28">Với những thứ tốt nhất có thể. Chúng tôi đưa bạn đến những nơi xa xôi trên mảnh Đất Việt này và chúng tôi cam kết. Ở đâu rẻ hơn, chúng tôi hoàn tiền </i>
          </div>
          <div class="l-box-travelzsay">
            <div class="float-left mr-right-20px"><img src="img/avt-2.png" alt=""></div>
            <h5 class="text-medium cl-te-black text-uppercase">Mark Zuckerberg</h5>
            <i class="text-extra-small">Chức vụ: <span class="color_main">Quản lý</span></i>
            <!-- <div class="clearfix"></div> -->
            <i class="d-block mr-tb-20px text-medium text-grey-4">Nếu bạn có thắc mắc về thông tin, giá vé hay bất cứ gì. Hãy liên hệ với chúng tôi ngay, chúng tôi có người giải đáp cho bạn ngay hoặc là lâu nhất là 24H. Xin cảm ơn!</i>
          </div>
          <div class="l-box-travelzsay mr-0">
            <div class="float-left mr-right-20px"><img src="img/avt-3.png" alt=""></div>
            <h5 class="text-medium cl-te-black text-uppercase">Nguyên Nhất Cương</h5>
            <i class="text-extra-small">Chức vụ: <span class="color_main">Quản lý nhân sự</span></i>
            <!-- <div class="clearfix"></div> -->
            <i class="d-block mr-tb-20px text-medium text-grey-4">Các bạn đang tìm một công việc tốt? Làm việc văn phòng máy lạnh sẽ giúp bạn có tinh thần tốt hơn. Hãy đến với ngôi nhà chung của chúng tôi. Liên hệ 0983232323</i>
          </div>                    

        <div class="pd-tb-100px">
          <div class="row">
            <div class="col-lg-3 col-md-6 l-box-our">
              <a href=""><img src="img/nguyenquochieu.jpg" width="100%" alt=""></a>
              <a href="" class="name-admin">Nguễn Quốc Hiếu</a>
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
      
  </main>
  <div class="ins-img">
    <div class="box-ins-img">
      <img src="img/instagram-1.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-2.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-3.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-4.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-5.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-6.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-7.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-8.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-9.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="box-ins-img">
      <img src="img/instagram-10.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <footer class="te-al-left">
    <div class="container">
      <div class="row pd-tb-100px">
        <div class="col-lg-6">
          <div class="">
            <div class="logo mr-bot-20px"><a href="#"><img src="img/logo.png" alt=""></a></div>
            <p class="cl-te-grey2 fz-09">
              <strong class="fz-12vw font-weight-bold">Đối tác hàng không</strong><br>
              Đối tác hàng không nội địa. Những đối tác hàng không hàng đầu Việt Nam sẽ chắp cánh đưa bạn đến mọi địa điểm trên mãnh đất Việt.
            </p>
            <div class="">
              <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/vietject.png" alt=""></a></div>
              <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/vietnameairline.png" alt=""></a></div>
              <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/pacific.png" alt=""></a></div>
              <div class="logo mr-bot-20px d-inline-block pd-right-50px"><a href="#"><img src="img/bambo.png" alt=""></a></div>            
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Home</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Featured</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Feedback</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Ask a Question</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Team</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Maintenance</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Get a Quote</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Contact Us</a></div>
          <div class="col-6 padding-tb-7px dl-inline-block float-left"><a href="#" class="color_main">Alerts messages</a></div>
        </div>
        <div class="col-lg-3">
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-1.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-2.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-3.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-4.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-5.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
          <div class="col-4 padding-tb-7px dl-inline-block float-left">
            <img src="img/instagram-6.jpg" class="img-fluid pd-lr-5px" alt="Responsive image">
          </div>
        </div>
      </div>
      <div class="row border-top-grey-1 pd-tb-30px">
        <div class="col-4">
          <p class="text-lg-left"><span class="text-third-color">Travelz</span> | @2017 All copy rights reserved</p>
        </div>
        <div class="col-4">
          <div class="text-center"><img src="img/cardspay.png" alt=""></div>
        </div>
        <div class="col-4">
          <ul class="icon-fooder list-inline te-al-right margin-0px line_h_28 font-size mr-0">
            <li class="list-inline-item"><a class="facebook text-white" href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="youtube text-white" href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="linkedin text-white" href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="google text-white" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="twitter text-white" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a class="rss text-white" href="#"><i class="fas fa-rss" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
</body>
</html>
<link rel="stylesheet" href="css/home.css">
<script src="js/home.js" type="text/javascript"></script>